<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">

    <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper"> 
        <div class="swiper-slide dark">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center">
                        
                        <h2 data-caption-animate="fadeInUp"><%= image_tag('slider/swiper/logo-800px.png') %></h2> 
                        <h3 data-caption-animate="fadeInUp" data-caption-delay="200">Central Florida's Boutique Photography Rental Studio</h3>
                    </div>
                </div>
                <div class="video-wrap">
                    <video poster=<%= asset_path('videos/explore-poster.jpg') %> preload="auto" loop="true" autoplay="true" muted="true">
                        <source src=<%= asset_path('videos/explore.mp4') %> type='video/mp4' />
                        <source src=<%= asset_path('videos/explore.webm') %> type='video/webm' />
                    </video>
                    <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                </div>
            </div>

            <div class="swiper-slide dark" style="background-image: url('<%= asset_path('slider/swiper/1.jpg') %>')">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center">
                        <h2 data-caption-animate="fadeInUp">A Photographers Playground</h2> 
                        <h3 data-caption-animate="fadeInUp" data-caption-delay="200">Elegantly designed for a unique experience.</h3>
                    </div>
                </div>
            </div>
           
            <div class="swiper-slide dark" style="background-image: url('<%= asset_path('slider/swiper/3.jpg') %>'); background-position: center top;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center">
                        <h2 data-caption-animate="fadeInUp">Built for Creativity</h2>
                        <p data-caption-animate="fadeInUp" data-caption-delay="200">Conceived based on a need for an atypical space for private photo sessions.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
        <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
        <div id="slide-number"><div id="slide-number-current"></div><span>/</span><div id="slide-number-total"></div></div>
    </div>
    
</section>




    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap nobottompadding">
            
            
                    <div class="heading-block center">
                        <h2>Studio Features</h2>
                        <span>Truly a unique space.</span>
                    </div>

                    <div class="container clearfix">

                        <div class="col_one_third">
                            <div class="feature-box fbox-center fbox-effect nobottomborder" data-animate="fadeIn">
                                <h3>Over 1200 sf of studio space</h3>
                                <p>Every inch of the space is yours to use during your rental.</p>
                            </div>
                        </div>

                        <div class="col_one_third">
                            <div class="feature-box fbox-center fbox-effect nobottomborder" data-animate="fadeIn">
                                <h3>10+ backdrops and setups</h3>
                                <p>Make your session unique and wow your client.</p>
                            </div>
                        </div>

                        <div class="col_one_third col_last">
                            <div class="feature-box fbox-center fbox-effect nobottomborder" data-animate="fadeIn">

                                <h3>Hair and makeup section</h3>
                                <p>Everything you need to setup up to do your thing.</p>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="col_one_third">
                            <div class="feature-box fbox-center fbox-effect nobottomborder" data-animate="fadeIn">
                                <h3>Large windows with curtains</h3>
                                <p>Use natural light, use strobes. Both will work.</p>
                            </div>
                        </div>

                        <div class="col_one_third">
                            <div class="feature-box fbox-center fbox-effect nobottomborder" data-animate="fadeIn">
                                <h3>9ft wide seamless backdrops</h3>
                                <p>Popular for headshots, pinup, or just a clean look.</p>
                            </div>
                        </div>

                        <div class="col_one_third col_last">
                            <div class="feature-box fbox-center fbox-effect nobottomborder" data-animate="fadeIn">

                                <h3>Private 2nd floor, open space</h3>
                                <p>Your client will feel right at home.</p>
                            </div>
                        </div>

                        <div class="clear"></div>
                        
                        <div class="col_one_third">
                            <div class="feature-box fbox-center fbox-effect nobottomborder" data-animate="fadeIn">
                                <h3>Free Wifi and Bluetooth Speaker</h3>
                                <p>Keep your boom box at home, we have you covered.</p>
                            </div>
                        </div>

                        <div class="col_one_third">
                            <div class="feature-box fbox-center fbox-effect nobottomborder" data-animate="fadeIn">
                                <h3>Memberships available</h3>
                                <p>If you're a frequent renter, a membership makes sense.</p>
                            </div>
                        </div>

                        <div class="col_one_third col_last">
                            <div class="feature-box fbox-center fbox-effect nobottomborder" data-animate="fadeIn">

                                <h3>Equipment rentals <%= image_tag('lens-pal-logo.jpg') %></h3>
                                <p>Ask about special equipment rates via <%= link_to("The LensPal", "http://www.thelenspal.com", target: "_blank") %>. </p>
                            </div>
                        </div>

                    </div>

                    <div class="divider divider-short divider-center topmargin-sm"><i class="icon-camera"></i></div>
            
            
            
                     <div class="section parallax" style="background-image: url('<%= asset_path('slider/swiper/1.jpg') %>'); padding: 100px 0;" data-stellar-background-ratio="0.3">
                        <div class="heading-block center nobottomborder dark" style="margin-bottom: 0px;">
                            <h2 style="margin-bottom: 0px;">“Perfect set up! So many areas to shoot and variety of looks."</h2>
                        </div>
                    </div>
            
            
            
            

            <div class="promo promo-full bottommargin-sm">
                <div class="container clearfix">
                    <h3>Call us today at <span>321.345.9231</span> or Email us at <span>info@studioadorn.com</span></h3>
                    <span>Book your boudoir, newborn, portrait, headshots, or any type of session at Studio Adorn today!</span>
                    <a href="#" class="button button-reveal button-xlarge"><i class="icon-angle-right"></i><span>Book Now</span></a>
                </div>
            </div>
            
            <div class="divider divider-short divider-center topmargin-sm"><i class="icon-camera"></i></div>
            
            <div class="container clearfix">
            </div>  

                <!-- Portfolio Items
                ============================================= -->
                <div id="portfolio" class="portfolio-3 portfolio-nomargin portfolio-notitle portfolio-full clearfix">
                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                                <%= image_tag('portfolio/thumbs/sa-1-thumb.jpg') %>                                
                            <div class="portfolio-overlay">
                                <a href=<%= asset_path('portfolio/sa-1.jpg') %>  data-lightbox="image"><i class="icon-line-plus"></i></a>                                
                            </div>
                        </div>
                    </article>

                    
                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                                <%= image_tag('portfolio/thumbs/sa-2-thumb.jpg') %>                                
                            <div class="portfolio-overlay">
                                <a href=<%= asset_path('portfolio/sa-2.jpg') %>  data-lightbox="image"><i class="icon-line-plus"></i></a>                                
                            </div>
                        </div>
                    </article>
                    
                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                                <%= image_tag('portfolio/thumbs/sa-3-thumb.jpg') %>                                
                            <div class="portfolio-overlay">
                                <a href=<%= asset_path('portfolio/sa-4.jpg') %>  data-lightbox="image"><i class="icon-line-plus"></i></a>                                
                            </div>
                        </div>
                    </article>
                    
                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                                <%= image_tag('portfolio/thumbs/sa-4-thumb.jpg') %>                                
                            <div class="portfolio-overlay">
                                <a href=<%= asset_path('portfolio/sa-4.jpg') %>  data-lightbox="image"><i class="icon-line-plus"></i></a>                                
                            </div>
                        </div>
                    </article>
                    
                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                                <%= image_tag('portfolio/thumbs/sa-5-thumb.jpg') %>                                
                            <div class="portfolio-overlay">
                                <a href=<%= asset_path('portfolio/sa-5.jpg') %>  data-lightbox="image"><i class="icon-line-plus"></i></a>                                
                            </div>
                        </div>
                    </article>
                    
                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                                <%= image_tag('portfolio/thumbs/sa-6-thumb.jpg') %>                                
                            <div class="portfolio-overlay">
                                <a href=<%= asset_path('portfolio/sa-6.jpg') %>  data-lightbox="image"><i class="icon-line-plus"></i></a>                                
                            </div>
                        </div>
                    </article>
                    
                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                                <%= image_tag('portfolio/thumbs/sa-7-thumb.jpg') %>                                
                            <div class="portfolio-overlay">
                                <a href=<%= asset_path('portfolio/sa-7.jpg') %>  data-lightbox="image"><i class="icon-line-plus"></i></a>                                
                            </div>
                        </div>
                    </article>
                    
                                                            
                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                                <%= image_tag('portfolio/thumbs/sa-8-thumb.jpg') %>                                
                            <div class="portfolio-overlay">
                                <a href=<%= asset_path('portfolio/sa-8.jpg') %>  data-lightbox="image"><i class="icon-line-plus"></i></a>                                
                            </div>
                        </div>
                    </article>                                      
                    
                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                                <%= image_tag('portfolio/thumbs/sa-9-thumb.jpg') %>                                
                            <div class="portfolio-overlay">
                                <a href=<%= asset_path('portfolio/sa-9.jpg') %>  data-lightbox="image"><i class="icon-line-plus"></i></a>                                
                            </div>
                        </div>
                    </article>


                </div><!-- #portfolio end -->


        
    </section><!-- #content end -->

    