<div id="header-trigger"><i class="icon-line-menu"></i><i class="icon-line-cross"></i></div>

    <!-- Header
    ============================================= -->
    <header id="header" class="no-sticky">

        <div id="header-wrap">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <!-- Logo
                ============================================= -->
                <div id="logo" class="nobottomborder">
                    <%= link_to(image_tag('logo.png'), root_path, class: "standard-logo") %>
                    <%= link_to(image_tag('logo@2x.png'), root_path, class: "retina-logo") %>
                </div><!-- #logo end -->

                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu">

                    <ul>
                        <li>
                            <%= link_to("Home", root_path) %>                           
                        </li>
                        <li>
                            <%= link_to("Our Story", about_path) %>
                        </li>
                        <li>
                            <%= link_to("Adorn Blog", root_path) %>
                        </li>
                        <li>
                            <%= link_to("Studio Rental", booking_path) %>
                        </li>
                        <li>
                            <%= link_to("Get in Touch", contact_path) %>
                        </li>
                    </ul>

                </nav><!-- #primary-menu end -->

                <div class="clearfix visible-md visible-lg">
                    
                    <%= link_to("http://www.facebook.com/studioadorn", class: "social-icon si-small si-borderless si-facebook", target: "_blank") do %>
                        <i class="icon-facebook"></i> 
                        <i class="icon-facebook"></i>                    
                    <% end %>

                    
                    <%= link_to("http://www.instagram.com/studioadorn", class: "social-icon si-small si-borderless si-instagram", target: "_blank") do %>
                        <i class="icon-instagram"></i>
                        <i class="icon-instagram"></i>
                    <% end %>
                    
                    <%= link_to("https://plus.google.com/u/0/b/116502175131665083122/116502175131665083122", class: "social-icon si-small si-borderless si-gplus", target: "_blank") do %>
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    <% end %>

                </div>

            </div>

        </div>

    </header><!-- #header end -->
